@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
@import url(reset.css);

.wrapper {
    display: flex;
    flex-direction: column;
    max-width: 1400px;
    margin: 0 auto;
}

.section {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 15px;
    min-width: 400px;
}

.section__text {
    font-family: "Montserrat", sans-serif;
    line-height: 20px;
    flex: 1 0 400px;
    padding: 0 15px;
}

.section:nth-child(odd) {
    text-align: left;
}

.section:nth-child(even) {
    flex-direction: row-reverse;
    text-align: right;
}

.section p {
    font-size: 18px;
}

.section__image1 {
    background: url("../img/eiffel-tower.jpeg") no-repeat center/cover;
}

.section__image2 {
    background: url("../img/mont-saint-michel.jpeg") no-repeat center/cover;
}

.section__image3 {
    background: url("../img/versailles-gardens.jpeg") no-repeat center/cover;
}

.section__image4 {
    background: url("../img/amiens-cathedral.jpeg") no-repeat center/cover;
}

.image {
    height: 300px;
    flex: 1 0 400px;
}
